:root {
    font-size: 10px;
}

@font-face {
    font-family: "Raleway";
    src: url("css/raleway") format("ttf");
}

body {
    font-family: "Raleway", Helvetica, sans-serif;
}

.h1 {
    font-size: 1.35rem;
}

.h2 {
    font-size: 1.3rem;
}

.h3 {
    font-size: 1.25rem;
}

.h4 {
    font-size: 1.2rem;
}

.h5 {
    font-size: 1.15rem;
}

.h6 {
    font-size: 1.1rem;
}

.nav-logo {
    grid-area: nav-logo;
    padding-left: 15px;
}

.nav-logo-img {
    height: 100%;
    object-fit: cover;
    width: auto;
}

.nav-accomodations {
    grid-area: nav-accomodations;
    text-align: center;
    line-height: 50px;
    font-size: medium;
    border-bottom: solid;
    color: #0065fc;
}

.nav-activities {
    grid-area: nav-activities;
    text-align: center;
    line-height: 50px;
    font-size: medium;
    border-bottom: solid #deebff;
    color: black;
}

.nav-register {
    grid-area: nav-register;
    text-align: right;
    padding-right: 20px;
    line-height: 60px;
    color: #0065fc;
    font-size: 1.6rem;
    font-weight: bold;
}

.nav {
    display: grid;
    grid-template-areas:
        "nav-logo nav-register"
        "nav-accomodations nav-activities";
    grid-template-rows: 60px 50px;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
}

#main-header {
    grid-area: main-header;
    padding: 30px 20px 30px 20px;
}

.main-header-h1 {
    font-size: 2.2em;
    line-height: 30px;
}

.main-header-h2 {
    font-weight: normal;
    font-size: 1.6em;
    line-height: 30px;
}

.main-header-form {
    padding-top: 30px;
}

.main-header-form-div {
    font-size: medium;
}

.map-icon {
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

.main-header-form-input {
    color: black;
    font-weight: bold;
    padding: 15px;
    border: none;
}

.search-icon {
    padding: 15px;
    color: white;
    background-color: #0065fc;
    border-radius: 10px;
}

.main-header-div1 {
    display: none;
}

.main-header-form-p1 {
    padding: 30px 0px 10px 0px;
    font-size: large;
    font-weight: bold;
}

.main-header-form-button1 {
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

.button-icon1 {
    color: #0065fc;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    background-color: #f2f2f2;
}

.main-header-form-button2 {
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

.button-icon2 {
    color: #0065fc;
    padding: 10px;
    background-color: #f2f2f2;
}

.main-header-form-button3 {
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

.button-icon3 {
    color: #0065fc;
    padding: 10px;
    background-color: #f2f2f2;
}

.main-header-form-button4 {
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

.button-icon4 {
    color: #0065fc;
    padding: 10px;
    background-color: #f2f2f2;
}

.main-header-form-p2 {
    font-size: medium;
    padding: 30px 0px 0px 5px;
    line-height: 20px;
}

.info-icon {
    padding-right: 20px;
    color: #0065fc;
    border-radius: 1px;
    float: left;
    font-size: 1em;
}

main {
    display: grid;
    grid-template-areas:
        "main-header"
        "popular"
        "accomodations"
        "activities";
    grid-gap: 10px;
}

.gray-star {
    color: #deebff;
}

#popular {
    grid-area: popular;
    display: grid;
    grid-template-areas:
        "popular-header"
        "popular-link1"
        "popular-link2"
        "popular-link3";
    grid-gap: 10px;
    padding: 20px 20px 40px 20px;
    grid-template-rows: auto repeat(3, 140px);
    background-color: #f2f2f2;
}

.popular-header {
    grid-area: popular-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.45em;
    padding: 10px 0px 20px 0px;
}

.graph-icon {
    font-size: 1.5em;
}

.popular-link1 {
    grid-area: popular-link1;
    height: 140px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.popular-fig1 {
    display: flex;
    height: 100%;
    padding: 5px;
}

.popular-fig-img1 {
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}

.popular-figcaption1 {
    width: 60%;
    position: relative;
    padding: 5px 0px 0px 15px;
}

.popular-fig-title1 {
    color: black;
    font-size: 1.6em;
    line-height: 20px;
}

.popular-fig-p1 {
    color: black;
    font-size: 1.4em;
}

.popular-fig-icon1 {
    position: absolute;
    bottom: 10px;
    color: #0065fc;
}

.popular-link2 {
    height: 140px;
    grid-area: popular-link2;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.popular-fig2 {
    display: flex;
    height: 100%;
    padding: 5px;
}

.popular-fig-img2 {
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}

.popular-figcaption2 {
    width: 60%;
    position: relative;
    padding: 5px 0px 0px 15px;
}

.popular-fig-title2 {
    color: black;
    font-size: 1.6em;
    line-height: 20px;
}

.popular-fig-p2 {
    color: black;
    font-size: 1.4em;
}

.popular-fig-icon2 {
    position: absolute;
    bottom: 10px;
    color: #0065fc;
}

.popular-link3 {
    height: 140px;
    grid-area: popular-link3;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.popular-fig3 {
    display: flex;
    height: 100%;
    padding: 5px;
}

.popular-fig-img3 {
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}

.popular-figcaption3 {
    width: 60%;
    position: relative;
    padding: 5px 0px 0px 15px;
}

.popular-fig-title3 {
    color: black;
    font-size: 1.6em;
    line-height: 20px;
}

.popular-fig-p3 {
    color: black;
    font-size: 1.4em;
}

.popular-fig-icon3 {
    position: absolute;
    bottom: 10px;
    color: #0065fc;
}

#accomodations {
    grid-area: accomodations;
    display: grid;
    grid-template-areas:
        "accomodations-header"
        "accomodations-link1"
        "accomodations-link2"
        "accomodations-link3"
        "accomodations-link4"
        "accomodations-link5"
        "accomodations-link6"
        "accomodations-link7";
    grid-gap: 20px;
    grid-template-rows: auto repeat(6, 195px);
    padding: 20px;
}

.accomodations-header {
    grid-area: accomodations-header;
    font-size: 1.45em;
}

.accomodations-link1 {
    grid-area: accomodations-link1;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.accomodations-fig1 {
    height: 100%;
}

.accomodations-fig-img1 {
    height: calc(100% - 75px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.accomodations-figcaption1 {
    position: relative;
    height: 75px;
    padding: 5px 0px 0px 10px;
    color: black;
}

.accomodations-fig-title1 {
    font-size: 1.6em;
}

.accomodations-fig-p1 {
    font-size: 1.4em;
}

.accomodations-div1 {
    color: #0065fc;
    position: absolute;
    bottom: 5px;
}

.accomodations-link2 {
    grid-area: accomodations-link2;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.accomodations-fig2 {
    height: 100%;
}

.accomodations-fig-img2 {
    height: calc(100% - 75px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.accomodations-figcaption2 {
    position: relative;
    height: 75px;
    padding: 5px 0px 0px 10px;
    color: black;
}

.accomodations-fig-title2 {
    font-size: 1.6em;
}

.accomodations-fig-p2 {
    font-size: 1.4em;
}

.accomodations-div2 {
    color: #0065fc;
    position: absolute;
    bottom: 5px;
}

.accomodations-link3 {
    grid-area: accomodations-link3;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.accomodations-fig3 {
    height: 100%;
}

.accomodations-fig-img3 {
    height: calc(100% - 75px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.accomodations-figcaption3 {
    position: relative;
    height: 75px;
    padding: 5px 0px 0px 10px;
    color: black;
}

.accomodations-fig-title3 {
    font-size: 1.6em;
}

.accomodations-fig-p3 {
    font-size: 1.4em;
}

.accomodations-div3 {
    color: #0065fc;
    position: absolute;
    bottom: 5px;
}

.accomodations-link4 {
    grid-area: accomodations-link4;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.accomodations-fig4 {
    height: 100%;
}

.accomodations-fig-img4 {
    height: calc(100% - 75px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.accomodations-figcaption4 {
    position: relative;
    height: 75px;
    padding: 5px 0px 0px 10px;
    color: black;
}

.accomodations-fig-title4 {
    font-size: 1.6em;
}

.accomodations-fig-p4 {
    font-size: 1.4em;
}

.accomodations-div4 {
    color: #0065fc;
    position: absolute;
    bottom: 5px;
}

.accomodations-link5 {
    grid-area: accomodations-link5;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.accomodations-fig5 {
    height: 100%;
}

.accomodations-fig-img5 {
    height: calc(100% - 75px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.accomodations-figcaption5 {
    position: relative;
    height: 75px;
    padding: 5px 0px 0px 10px;
    color: black;
}

.accomodations-fig-title5 {
    font-size: 1.6em;
}

.accomodations-fig-p5 {
    font-size: 1.4em;
}

.accomodations-div5 {
    color: #0065fc;
    position: absolute;
    bottom: 5px;
}

.accomodations-link6 {
    grid-area: accomodations-link6;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.accomodations-fig6 {
    height: 100%;
}

.accomodations-fig-img6 {
    height: calc(100% - 75px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.accomodations-figcaption6 {
    position: relative;
    height: 75px;
    padding: 5px 0px 0px 10px;
    color: black;
}

.accomodations-fig-title6 {
    font-size: 1.6em;
}

.accomodations-fig-p6 {
    font-size: 1.4em;
}

.accomodations-div6 {
    color: #0065fc;
    position: absolute;
    bottom: 5px;
}

.accomodations-link7 {
    grid-area: accomodations-link7;
}

#activities {
    grid-area: activities;
    display: grid;
    grid-template-areas:
        "activities-header"
        "activities-link1"
        "activities-link2"
        "activities-link3"
        "activities-link4"
        "activities-link5"
        "activities-link6";
    grid-gap: 20px;
    padding: 20px;
    grid-template-rows: auto repeat(6, 220px);
}

.activities-header {
    grid-area: activities-header;
    font-size: 1.45em;
}

.activities-link1 {
    grid-area: activities-link1;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.activities-fig1 {
    height: 100%;
}

.activities-fig-img1 {
    height: calc(100% - 50px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.activities-figcaption1 {
    padding-left: 10px;
    line-height: 50px;
    color: black;
    height: 50px;
    font-size: x-small;
}

.activities-link2 {
    grid-area: activities-link2;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.activities-fig2 {
    height: 100%;
}

.activities-fig-img2 {
    height: calc(100% - 50px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.activities-figcaption2 {
    padding-left: 10px;
    line-height: 50px;
    color: black;
    height: 50px;
    font-size: x-small;
}

.activities-link3 {
    grid-area: activities-link3;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.activities-fig3 {
    height: 100%;
}

.activities-fig-img3 {
    height: calc(100% - 50px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.activities-figcaption3 {
    padding-left: 10px;
    line-height: 50px;
    color: black;
    height: 50px;
    font-size: x-small;
}

.activities-link4 {
    grid-area: activities-link4;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.activities-fig4 {
    height: 100%;
}

.activities-fig-img4 {
    height: calc(100% - 50px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.activities-figcaption4 {
    padding-left: 10px;
    line-height: 50px;
    color: black;
    height: 50px;
    font-size: x-small;
}

.activities-link5 {
    grid-area: activities-link5;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.activities-fig5 {
    height: 100%;
}

.activities-fig-img5 {
    height: calc(100% - 50px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.activities-figcaption5 {
    padding-left: 10px;
    line-height: 50px;
    color: black;
    height: 50px;
    font-size: x-small;
}

.activities-link6 {
    grid-area: activities-link6;
    border-radius: 10px;
    box-shadow: 0px 5px 10px silver;
}

.activities-fig6 {
    height: 100%;
}

.activities-fig-img6 {
    height: calc(100% - 50px);
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.activities-figcaption6 {
    padding-left: 10px;
    line-height: 50px;
    color: black;
    height: 50px;
    font-size: x-small;
}

#footer {
    display: grid;
    grid-template-areas:
        "footer-title1"
        "footer-nav1"
        "footer-title2"
        "footer-nav2"
        "footer-title3"
        "footer-nav3";
    grid-template-columns: 1fr;
    padding: 20px;
    background-color: #f2f2f2;
    font-size: small;
}

.footer-title1 {
    grid-area: footer-title1;
}

.footer-nav1 {
    grid-area: footer-nav1;
}

.footer-title2 {
    grid-area: footer-title2;
}

.footer-nav2 {
    grid-area: footer-nav2;
}

.footer-title3 {
    grid-area: footer-title3;
}

.footer-nav3 {
    grid-area: footer-nav3;
}
