@font-face {
    font-family: "Raleway";
    src: url("css/raleway") format("ttf");
}

body {
    font-family: "Raleway", Helvetica, sans-serif;
}

.h1 {
    font-size: 1.35rem;
}

.h2 {
    font-size: 1.3rem;
}

.h3 {
    font-size: 1.25rem;
}

.h4 {
    font-size: 1.2rem;
}

.h5 {
    font-size: 1.15rem;
}

.h6 {
    font-size: 1.1rem;
}

.nav {
    display: grid;
    grid-template-areas:
        "nav-logo nav-register"
        "nav-accomodations nav-activities";
    grid-template-rows: 60px 50px;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
}

.nav-logo {
    grid-area: nav-logo;
    padding-left: 15px;
}

.nav-logo-img {
    height: 100%;
    object-fit: cover;
    width: auto;
}

.nav-items {
    text-align: center;
    line-height: 50px;
    font-size: medium;
}
.nav-accomodations {
    grid-area: nav-accomodations;

    border-bottom: solid;
    color: #0065fc;
}

.nav-activities {
    grid-area: nav-activities;

    border-bottom: solid #f2f2f2;
    color: black;
}

.nav-register {
    grid-area: nav-register;
    text-align: right;
    padding-right: 20px;
    line-height: 60px;
    color: #0065fc;
    font-size: 1.1rem;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-areas:
        "main-header"
        "popular"
        "accomodations"
        "activities";
    grid-gap: 10px;
}

#main-header {
    grid-area: main-header;
    padding: 30px 20px 30px 20px;
}

.main-header-h1 {
    font-size: 1.5rem;
    line-height: 30px;
}

.main-header-h2 {
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 30px;
}

.main-header-form {
    padding-top: 30px;
}

.main-header-form-div {
    display: flex;
    font-size: large;
}

.map-icon {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px !important;
}

.main-header-form-input {
    color: black;
    font-weight: bold;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    height: 50px;
    width: calc(100% - 100px);
    padding: 0 20px;
}

.main-header-form-div-button {
    color: white;
    background-color: #0065fc;
    border-radius: 15px;
    width: 50px;
    margin-left: -15px;
    height: 50px;
    border: 2px solid silver;
}

.main-header-search-span {
    display: none;
}

.main-header-form-p1 {
    padding: 20px 0;
    font-size: large;
    font-weight: bold;
}

.main-header-form-button {
    font-size: medium;
    font-weight: bold;
    background-color: white;
    border: 2px solid silver;
    margin: 0 10px 10px 0;
    border-radius: 25px;
}

.button-icon {
    color: #0065fc;
    border-radius: 50%;
    background-color: #e3e3ff;
    width: 50px;
    height: 50px;
    line-height: 50px !important;
    margin: -2px;
}

.main-header-form-span {
    padding: 0 10px;
}

.main-header-form-p2 {
    display: flex;
    font-size: medium;
    line-height: 20px;
    padding-top: 10px;
}

.info-icon {
    color: #0065fc;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    line-height: 25px !important;
    border: solid 1px;
    text-align: center;
}

.main-header-form-p-span {
    padding-left: 10px;
    width: calc(100% - 25px);
}

.gray-star {
    color: #deebff;
}

#popular {
    grid-area: popular;
    display: grid;
    grid-template-areas:
        "popular-header"
        "popular-link1"
        "popular-link2"
        "popular-link3";
    grid-gap: 10px;
    padding: 20px 20px 40px 20px;
    grid-template-rows: auto repeat(3, 140px);
    background-color: #f2f2f2;
}

.popular-header {
    grid-area: popular-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    padding: 10px 0 20px 0;
}

.popular-title,
.graph-icon {
    font-size: 1.3rem;
}

.popular-link1 {
    grid-area: popular-link1;
}

.popular-link2 {
    grid-area: popular-link2;
}

.popular-link3 {
    grid-area: popular-link3;
}

.popular-fig {
    display: flex;
    height: 100%;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 5px 10px silver;
    background-color: white;
}

.popular-fig-img {
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.popular-figcaption {
    width: 60%;
    position: relative;
    padding: 5px 15px;
}

.popular-fig-title {
    color: black;
    font-size: 1rem;
    line-height: 20px;
}

.popular-fig-p {
    color: black;
    font-size: 0.9rem;
}

.popular-fig-icon {
    position: absolute;
    bottom: 5px;
    color: #0065fc;
    letter-spacing: -1px;
}

#accomodations {
    grid-area: accomodations;
    display: grid;
    grid-template-areas:
        "accomodations-header"
        "accomodations-link1"
        "accomodations-link2"
        "accomodations-link3"
        "accomodations-link4"
        "accomodations-link5"
        "accomodations-link6"
        "accomodations-link7";
    grid-gap: 20px;
    grid-template-rows: auto repeat(6, 195px);
    padding: 20px;
}

.accomodations-title {
    font-size: 1.3rem;
}

.accomodations-fig {
    height: 100%;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 5px 10px silver;
}

.accomodations-fig-img {
    height: calc(100% - 75px);
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.accomodations-figcaption {
    position: relative;
    height: 75px;
    padding: 5px 10px;
    color: black;
}

.accomodations-fig-title {
    font-size: 1rem;
}

.accomodations-fig-p {
    font-size: 0.9rem;
}

.accomodations-div {
    color: #0065fc;
    position: absolute;
    bottom: 0;
    letter-spacing: -1px;
}

.accomodations-header {
    grid-area: accomodations-header;
}

.accomodations-link1 {
    grid-area: accomodations-link1;
}

.accomodations-link2 {
    grid-area: accomodations-link2;
}

.accomodations-link3 {
    grid-area: accomodations-link3;
}

.accomodations-link4 {
    grid-area: accomodations-link4;
}

.accomodations-link5 {
    grid-area: accomodations-link5;
}

.accomodations-link6 {
    grid-area: accomodations-link6;
}

.accomodations-link7 {
    grid-area: accomodations-link7;
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

#activities {
    grid-area: activities;
    display: grid;
    grid-template-areas:
        "activities-header"
        "activities-link1"
        "activities-link2"
        "activities-link3"
        "activities-link4"
        "activities-link5"
        "activities-link6";
    grid-gap: 20px;
    padding: 20px;
    grid-template-rows: auto repeat(6, 220px);
}

.activities-title {
    font-size: 1.3rem;
}

.activities-fig {
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 10px silver;
}

.activities-fig-img {
    height: calc(100% - 50px);
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.activities-figcaption {
    padding: 0 10px;
    line-height: 50px;
    color: black;
    height: 50px;
}

.activities-fig-title {
    font-size: 1rem;
}

.activities-header {
    grid-area: activities-header;
}

.activities-link1 {
    grid-area: activities-link1;
}

.activities-link2 {
    grid-area: activities-link2;
}

.activities-link3 {
    grid-area: activities-link3;
}

.activities-link4 {
    grid-area: activities-link4;
}

.activities-link5 {
    grid-area: activities-link5;
}

.activities-link6 {
    grid-area: activities-link6;
}

#footer {
    display: grid;
    grid-template-areas:
        "footer-title1"
        "footer-nav1"
        "footer-title2"
        "footer-nav2"
        "footer-title3"
        "footer-nav3";
    grid-template-columns: 1fr;
    padding: 20px;
    background-color: #f2f2f2;
    font-size: small;
}

.footer-title1 {
    grid-area: footer-title1;
}

.footer-nav1 {
    grid-area: footer-nav1;
}

.footer-title2 {
    grid-area: footer-title2;
}

.footer-nav2 {
    grid-area: footer-nav2;
}

.footer-title3 {
    grid-area: footer-title3;
}

.footer-nav3 {
    grid-area: footer-nav3;
}
